<div class="main_component">
    <h1>Please log in!</h1>
    <mat-form-field>
        <mat-label for="email">Email: </mat-label><input matInput type="text" [formControl]="email" />
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-form-field>
        <mat-label for="password">Password: </mat-label><input matInput type="password" [formControl]="password" />
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-label for="newsRadio">Remember me</mat-label>
    <mat-radio-group aria-label="Sign-up for newsletter" name="newsRadio">
        <mat-radio-button value="1">Yes</mat-radio-button>
        <mat-radio-button checked="true" value="2">Not now</mat-radio-button>
    </mat-radio-group>
    
    <mat-divider></mat-divider>

    <span>
        <span><button mat-raised-button color="primary" (click)="login()">Login</button></span>
        <span><button mat-raised-button color="primary" [routerLink]="'/signup'">Sign Up</button></span>
    </span>
</div>