.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}
.singlePic{
    width: 70dvh;
    height: 70dvh;
    background-color: bisque;
    align-items: center;
}

.galleryImage {
    max-width: 70dvh;
    max-height: 70dvh;
}

.break {
    flex-basis: 100%;
    height: 0;
}

table, th, td {
    border: 1px solid black;
}

.table-header-even {
    background-color: darkcyan;
}

.table-header-odd {
    background-color: cyan;
}