.mainCard{
    font-size: 300%;
    text-align: center;
    top: 50%;
}

.thirdCard{
    width: 30%;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 33dvh;
}
.back{
  background-image: url("../../../assets/bg1.jpg");
  font-size: 350%;
  text-align: center;
  height: 26dvh;
}