<!--<mat-card>
    <mat-card-header>BATHE</mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>
        <img src="assets/icon.jpg"/>
    </mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>{{"BATHE" | reverse}}</mat-card-header>
</mat-card>-->
<mat-card class="back">
    <mat-card-content>
        Welcome
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header class="mainCard">
        <mat-card-content class="thirdCard">BATHE</mat-card-content>
        <mat-card-content class="thirdCard"><img src="assets/icon.jpg"/></mat-card-content>
        <mat-card-content class="thirdCard">{{"BATHE" | reverse}}</mat-card-content>
    </mat-card-header>
</mat-card>
<mat-card class="back">
    <mat-card-content>  
    </mat-card-content>
</mat-card>
<mat-card class="footer">
    <mat-card-content >Good swimsuit, good day</mat-card-content>
</mat-card>

