<div class="main">
    <mat-card>
        <mat-card-header>Item 1</mat-card-header>
        <mat-card-content>
            <img mat-card-image src="assets/Pink.jpg"/>
        </mat-card-content>
        <mat-card-content>
            Pink bikini
        </mat-card-content>
        <mat-card-footer>
            5999 ft
        </mat-card-footer>
    </mat-card>

    <mat-card>
        <mat-card-header>Item 2</mat-card-header>
        <mat-card-content>
            <img mat-card-image src="assets/Black.jpg"/>
        </mat-card-content>
        <mat-card-content>
            Black bikini
        </mat-card-content>
        <mat-card-footer>
            1999 ft
        </mat-card-footer>
    </mat-card>
</div>