img{
  width: 100%;
  height: auto;
  
}
.main{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
mat-card{
  width: 33%;
  font-size: 15pt;
}

mat-card-header { 
  background: rgb(210, 161, 101);

}
mat-card-actions{
  font-weight: bold;
  background: #2bb773;
}
mat-card-footer{
  margin-bottom: 15px;
  background: #2b9db7;
}
button{
  margin-left: 35%;
}
